.row
  .span6
    %h1
      Our Tweets
    - @our_tweets.each do |tweet|
      = tweet
  .span6
    %h1
      Other Tweets
    - @other_tweets.each do |tweet|
      = tweet
.row
  .span12
    %h1
      Credits
    = @user.credits

.row
  .span5
    = link_to "tweet me", "https://twitter.com/intent/tweet?text=doesthiswork"

- content_for(:js_footer) do
  :javascript
    twttr.events.bind('tweet', function(event) {
      console.log(event);
      console.log(event.data);
    });