.DS_Store
.bundle
db/*.sqlite3
db/schema.rb
db/*_structure.sql
db/structure.sql
log/*
tmp/
.idea/**
config/heroku.yml
config/database.yml
public/assets
public/uploads
public/stylesheets/application.css
coverage
turbulence
