.row
  .span12
    %h1
      Tweet for Tweet
    %p
      Automated Twitter retweet exchange
      = link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter)

    %h2
      Current user:
      = current_user.uid